@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <label for="username">Username:</label><br />
    <input type="text" name="username" value="" /><br />
    <label for="email">Email:</label><br />
    <input type="email" name="email" value="" /><br />
    <label for="password">Password:</label><br />
    <input type="password" name="password" value="" /><br />
    <label for="password">Verify Password:</label><br />
    <input type="password" name="password" value="" /><br />
</form>
